body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  background-image: url('D:/ANJANA AS PROJECTS/weather/weatherapp/src/image.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  padding: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #4a4b55;
  border-radius: 10px;
  box-shadow: 0 0 10px #3d3f4e;  
}

input {
  padding: 10px;
  margin: 10px 0;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 15px;
  margin: 5px;
  background-color:  #4a4b55;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color:  #91929b;;
}

#weatherInfo {
  margin-top: 20px;
}
